* {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.index-body {
    height: 100%;
    background-image: url("../img/index-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.index-title {
    width: 50%;
    text-align: center;
    margin: 200px auto 0 auto;
    font-size: 3rem;
    text-shadow: 2px 5px rgba(255,0,0,0.7);
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

.navbar {
    width: 30%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

a {
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    background-color: rgba(255,0,0,0.8);
    box-shadow: 1px 5px rgba(0,0,0,0.5);
}

a:visited {
    text-decoration: none;
}

a:hover {
    background-color: #ff0000;
    box-shadow: 5px 10px #000000;
    font-weight: bold;
}

footer {
    position: absolute;
    padding: 15px;
    bottom: -8px;
}

.table-body {
    background-image: url("../img/table-bg.jpg");
    background-size: auto;
}

.table-title {
    width: 40%;
    text-align: center;
    margin: 50px auto;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 2px 5px #ff0000;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

.container-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    border: 5px solid #000000;
    display: block;
    width: 80%;
    margin: 5px auto;
    position: relative;
}

.sub-box {
    border-radius: 4px;
    border: 5px solid #000000;
    padding: 8px;
    background-color: rgba(255,255,255,0.3);
    margin: 10px;
}

.sub-box:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 5px 10px #000000;
}

.form-body {
    background-image: url("../img/form-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

textarea {
    margin-top: 5px;
}

.form-title {
    width: 40%;
    text-align: center;
    margin: 180px 30px 0 auto;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 5px #ff0000;
    border-bottom: 1px solid #ffffff;
}

.form-nav {
    margin-right: 8rem;
}

.form-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: justify;
    border: 4px solid #000000;
    background: radial-gradient(circle, rgba(240,240,240,0.7) 0%, rgba(255,0,0,0.7) 100%, rgba(0,0,0,0.7) 100%);
    width: 28%;
    position: absolute;
    left: 20px ;
    top: 90px;
    border-radius: 4px;
}

.form-box div {
    margin: 20px;
}

button {
    width: 20%;
    margin: 10px auto;
}

.message {
    width: 20%;
    height: 50px;
    text-align: center;
    padding: 5px;
    text-shadow: 1px 3px rgba(0,0,0,0.7);
    box-shadow: 2px 2px #000000;
    margin: 1rem 14rem auto auto ;
    color: #ffffff;
    background-color: rgba(255,0,0,0.5);
    border: 1px solid #000000;
    border-radius: 4px;
}